In [2]:
%pip install plotly
%pip install wbdata
%pip install eep153_tools
%pip install python_gnupg
%pip install -U gspread_pandas

Requirement already satisfied: plotly in /srv/conda/lib/python3.11/site-packages (6.3.1)
Requirement already satisfied: narwhals>=1.15.1 in /srv/conda/lib/python3.11/site-packages (from plotly) (2.10.0)
Requirement already satisfied: packaging in /srv/conda/lib/python3.11/site-packages (from plotly) (24.2)
Note: you may need to restart the kernel to use updated packages.
Collecting wbdata
  Using cached wbdata-1.1.0-py3-none-any.whl.metadata (2.1 kB)
Collecting appdirs<2,>=1.4 (from wbdata)
  Using cached appdirs-1.4.4-py2.py3-none-any.whl.metadata (9.0 kB)
Requirement already satisfied: backoff<3,>=2.2.1 in /srv/conda/lib/python3.11/site-packages (from wbdata) (2.2.1)
Collecting cachetools<6,>=5.3.2 (from wbdata)
  Using cached cachetools-5.5.2-py3-none-any.whl.metadata (5.4 kB)
Collecting dateparser<2,>=1.2.0 (from wbdata)
  Using cached dateparser-1.2.2-py3-none-any.whl.metadata (29 kB)
Requirement already satisfied: decorator<6,>=5.1.1 in /srv/conda/lib/python3.11/site-packages (from wbdata) (5.1.1)
Requirement already satisfied: requests<3,>=2.0 in /srv/conda/lib/python3.11/site-packages (from wbdata) (2.32.3)
Collecting shelved-cache<0.4,>=0.3.1 (from wbdata)
  Using cached shelved_cache-0.3.1-py3-none-any.whl.metadata (4.7 kB)
Collecting tabulate<1,>=0.8.5 (from wbdata)
  Using cached tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Requirement already satisfied: python-dateutil>=2.7.0 in /srv/conda/lib/python3.11/site-packages (from dateparser<2,>=1.2.0->wbdata) (2.9.0.post0)
Requirement already satisfied: pytz>=2024.2 in /srv/conda/lib/python3.11/site-packages (from dateparser<2,>=1.2.0->wbdata) (2025.2)
Requirement already satisfied: regex>=2024.9.11 in /srv/conda/lib/python3.11/site-packages (from dateparser<2,>=1.2.0->wbdata) (2025.10.23)
Collecting tzlocal>=0.2 (from dateparser<2,>=1.2.0->wbdata)
  Using cached tzlocal-5.3.1-py3-none-any.whl.metadata (7.6 kB)
Requirement already satisfied: charset_normalizer<4,>=2 in /srv/conda/lib/python3.11/site-packages (from requests<3,>=2.0->wbdata) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/lib/python3.11/site-packages (from requests<3,>=2.0->wbdata) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/lib/python3.11/site-packages (from requests<3,>=2.0->wbdata) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.11/site-packages (from requests<3,>=2.0->wbdata) (2025.10.5)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.11/site-packages (from python-dateutil>=2.7.0->dateparser<2,>=1.2.0->wbdata) (1.17.0)
Using cached wbdata-1.1.0-py3-none-any.whl (18 kB)
Using cached appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Using cached cachetools-5.5.2-py3-none-any.whl (10 kB)
Using cached dateparser-1.2.2-py3-none-any.whl (315 kB)
Using cached shelved_cache-0.3.1-py3-none-any.whl (7.8 kB)
Using cached tabulate-0.9.0-py3-none-any.whl (35 kB)
Using cached tzlocal-5.3.1-py3-none-any.whl (18 kB)
Installing collected packages: appdirs, tzlocal, tabulate, cachetools, shelved-cache, dateparser, wbdata
  Attempting uninstall: cachetools
    Found existing installation: cachetools 6.2.1
    Uninstalling cachetools-6.2.1:
      Successfully uninstalled cachetools-6.2.1
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7/7 [wbdata]2m6/7 [wbdata]ser]
Successfully installed appdirs-1.4.4 cachetools-5.5.2 dateparser-1.2.2 shelved-cache-0.3.1 tabulate-0.9.0 tzlocal-5.3.1 wbdata-1.1.0
Note: you may need to restart the kernel to use updated packages.
Collecting eep153_tools
  Using cached eep153_tools-0.12.4-py2.py3-none-any.whl.metadata (363 bytes)
Using cached eep153_tools-0.12.4-py2.py3-none-any.whl (4.9 kB)
Installing collected packages: eep153_tools
Successfully installed eep153_tools-0.12.4
Note: you may need to restart the kernel to use updated packages.
Collecting python_gnupg
  Using cached python_gnupg-0.5.6-py2.py3-none-any.whl.metadata (2.1 kB)
Using cached python_gnupg-0.5.6-py2.py3-none-any.whl (22 kB)
Installing collected packages: python_gnupg
Successfully installed python_gnupg-0.5.6
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: gspread_pandas in /srv/conda/lib/python3.11/site-packages (2.2.3)
Collecting gspread_pandas
  Using cached gspread_pandas-3.3.0-py2.py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: gspread<6,>=5.0.0 in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (5.12.4)
Requirement already satisfied: pandas>=0.20.0 in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (2.2.3)
Requirement already satisfied: decorator in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (5.1.1)
Requirement already satisfied: google-auth in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (2.42.0)
Requirement already satisfied: google-auth-oauthlib in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (1.2.2)
Requirement already satisfied: cachetools<7.0,>=2.0.0 in /srv/conda/lib/python3.11/site-packages (from google-auth->gspread_pandas) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /srv/conda/lib/python3.11/site-packages (from google-auth->gspread_pandas) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /srv/conda/lib/python3.11/site-packages (from google-auth->gspread_pandas) (4.9.1)
Requirement already satisfied: pyasn1>=0.1.3 in /srv/conda/lib/python3.11/site-packages (from rsa<5,>=3.1.4->google-auth->gspread_pandas) (0.6.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /srv/conda/lib/python3.11/site-packages (from google-auth-oauthlib->gspread_pandas) (2.0.0)
Requirement already satisfied: numpy>=1.23.2 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.20.0->gspread_pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.20.0->gspread_pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.20.0->gspread_pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.20.0->gspread_pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=0.20.0->gspread_pandas) (1.17.0)
Requirement already satisfied: oauthlib>=3.0.0 in /srv/conda/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (3.3.1)
Requirement already satisfied: requests>=2.0.0 in /srv/conda/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2.32.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /srv/conda/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2025.10.5)
Using cached gspread_pandas-3.3.0-py2.py3-none-any.whl (27 kB)
Installing collected packages: gspread_pandas
  Attempting uninstall: gspread_pandas
    Found existing installation: gspread-pandas 2.2.3
    Uninstalling gspread-pandas-2.2.3:
      Successfully uninstalled gspread-pandas-2.2.3
Successfully installed gspread_pandas-3.3.0
Note: you may need to restart the kernel to use updated packages.

In [25]:
import warnings
import numpy as np
import wbdata
import pandas as pd
pd.options.plotting.backend = 'plotly'
warnings.filterwarnings('ignore')

In [26]:
wbdata.get_topics()

  id  value
----  -------------------------------
   1  Agriculture & Rural Development
   2  Aid Effectiveness
   3  Economy & Growth
   4  Education
   5  Energy & Mining
   6  Environment
   7  Financial Sector
   8  Health
   9  Infrastructure
  10  Social Protection & Labor
  11  Poverty
  12  Private Sector
  13  Public Sector
  14  Science & Technology
  15  Social Development
  16  Urban Development
  17  Gender
  18  Millenium development goals
  19  Climate Change
  20  External Debt
  21  Trade

In [29]:
SOURCE = 40 # "Population estimates and projections

indicators = wbdata.get_indicators(source=SOURCE)
indicators

id                 name
-----------------  -------------------------------------------------------------------
SH.DTH.0509        Number of deaths ages 5-9 years
SH.DTH.0514        Number of deaths ages 5-14 years
SH.DTH.1014        Number of deaths ages 10-14 years
SH.DTH.1019        Number of deaths ages 10-19 years
SH.DTH.1519        Number of deaths ages 15-19 years
SH.DTH.2024        Number of deaths ages 20-24 years
SH.DTH.IMRT        Number of infant deaths
SH.DTH.IMRT.FE     Number of infant deaths, female
SH.DTH.IMRT.MA     Number of infant deaths, male
SH.DTH.MORT        Number of under-five deaths
SH.DTH.MORT.FE     Number of under-five deaths, female
SH.DTH.MORT.MA     Number of under-five deaths, male
SH.DTH.NMRT        Number of neonatal deaths
SH.DYN.0509        Probability of dying among children ages 5-9 years (per 1,000)
SH.DYN.0514        Probability of dying at age 5-14 years (per 1,000 children age 5)
SH.DYN.1014        Probability of dying among adolescents ages 10-14 years (per 1,000)
SH.DYN.1019        Probability of dying among adolescents ages 10-19 years (per 1,000)
SH.DYN.1519        Probability of dying among adolescents ages 15-19 years (per 1,000)
SH.DYN.2024        Probability of dying among youth ages 20-24 years (per 1,000)
SH.DYN.MORT        Mortality rate, under-5 (per 1,000 live births)
SH.DYN.MORT.FE     Mortality rate, under-5, female (per 1,000 live births)
SH.DYN.MORT.MA     Mortality rate, under-5, male (per 1,000 live births)
SH.DYN.NMRT        Mortality rate, neonatal (per 1,000 live births)
SM.POP.NETM        Net migration
SP.DYN.AMRT.FE     Mortality rate, adult, female (per 1,000 female adults)
SP.DYN.AMRT.MA     Mortality rate, adult, male (per 1,000 male adults)
SP.DYN.CBRT.IN     Birth rate, crude (per 1,000 people)
SP.DYN.CDRT.IN     Death rate, crude (per 1,000 people)
SP.DYN.IMRT.FE.IN  Mortality rate, infant, female (per 1,000 live births)
SP.DYN.IMRT.IN     Mortality rate, infant (per 1,000 live births)
SP.DYN.IMRT.MA.IN  Mortality rate, infant, male (per 1,000 live births)
SP.DYN.LE00.FE.IN  Life expectancy at birth, female (years)
SP.DYN.LE00.IN     Life expectancy at birth, total (years)
SP.DYN.LE00.MA.IN  Life expectancy at birth, male (years)
SP.DYN.TFRT.IN     Fertility rate, total (births per woman)
SP.POP.0004.FE     Population ages 00-04, female
SP.POP.0004.FE.5Y  Population ages 00-04, female (% of female population)
SP.POP.0004.MA     Population ages 00-04, male
SP.POP.0004.MA.5Y  Population ages 00-04, male (% of male population)
SP.POP.0014.FE.IN  Population ages 0-14, female
SP.POP.0014.FE.ZS  Population ages 0-14, female (% of female population)
SP.POP.0014.MA.IN  Population ages 0-14, male
SP.POP.0014.MA.ZS  Population ages 0-14, male (% of male population)
SP.POP.0014.TO     Population ages 0-14, total
SP.POP.0014.TO.ZS  Population ages 0-14 (% of total population)
SP.POP.0509.FE     Population ages 05-09, female
SP.POP.0509.FE.5Y  Population ages 05-09, female (% of female population)
SP.POP.0509.MA     Population ages 05-09, male
SP.POP.0509.MA.5Y  Population ages 05-09, male (% of male population)
SP.POP.1014.FE     Population ages 10-14, female
SP.POP.1014.FE.5Y  Population ages 10-14, female (% of female population)
SP.POP.1014.MA     Population ages 10-14, male
SP.POP.1014.MA.5Y  Population ages 10-14, male (% of male population)
SP.POP.1519.FE     Population ages 15-19, female
SP.POP.1519.FE.5Y  Population ages 15-19, female (% of female population)
SP.POP.1519.MA     Population ages 15-19, male
SP.POP.1519.MA.5Y  Population ages 15-19, male (% of male population)
SP.POP.1564.FE.IN  Population ages 15-64, female
SP.POP.1564.FE.ZS  Population ages 15-64, female (% of female population)
SP.POP.1564.MA.IN  Population ages 15-64, male
SP.POP.1564.MA.ZS  Population ages 15-64, male (% of male population)
SP.POP.1564.TO     Population ages 15-64, total
SP.POP.1564.TO.ZS  Population ages 15-64 (% of total population)
SP.POP.2024.FE     Population ages 20-24, female
SP.POP.2024.FE.5Y  Population ages 20-24, female (% of female population)
SP.POP.2024.MA     Population ages 20-24, male
SP.POP.2024.MA.5Y  Population ages 20-24, male (% of male population)
SP.POP.2529.FE     Population ages 25-29, female
SP.POP.2529.FE.5Y  Population ages 25-29, female (% of female population)
SP.POP.2529.MA     Population ages 25-29, male
SP.POP.2529.MA.5Y  Population ages 25-29, male (% of male population)
SP.POP.3034.FE     Population ages 30-34, female
SP.POP.3034.FE.5Y  Population ages 30-34, female (% of female population)
SP.POP.3034.MA     Population ages 30-34, male
SP.POP.3034.MA.5Y  Population ages 30-34, male (% of male population)
SP.POP.3539.FE     Population ages 35-39, female
SP.POP.3539.FE.5Y  Population ages 35-39, female (% of female population)
SP.POP.3539.MA     Population ages 35-39, male
SP.POP.3539.MA.5Y  Population ages 35-39, male (% of male population)
SP.POP.4044.FE     Population ages 40-44, female
SP.POP.4044.FE.5Y  Population ages 40-44, female (% of female population)
SP.POP.4044.MA     Population ages 40-44, male
SP.POP.4044.MA.5Y  Population ages 40-44, male (% of male population)
SP.POP.4549.FE     Population ages 45-49, female
SP.POP.4549.FE.5Y  Population ages 45-49, female (% of female population)
SP.POP.4549.MA     Population ages 45-49, male
SP.POP.4549.MA.5Y  Population ages 45-49, male (% of male population)
SP.POP.5054.FE     Population ages 50-54, female
SP.POP.5054.FE.5Y  Population ages 50-54, female (% of female population)
SP.POP.5054.MA     Population ages 50-54, male
SP.POP.5054.MA.5Y  Population ages 50-54, male (% of male population)
SP.POP.5559.FE     Population ages 55-59, female
SP.POP.5559.FE.5Y  Population ages 55-59, female (% of female population)
SP.POP.5559.MA     Population ages 55-59, male
SP.POP.5559.MA.5Y  Population ages 55-59, male (% of male population)
SP.POP.6064.FE     Population ages 60-64, female
SP.POP.6064.FE.5Y  Population ages 60-64, female (% of female population)
SP.POP.6064.MA     Population ages 60-64, male
SP.POP.6064.MA.5Y  Population ages 60-64, male (% of male population)
SP.POP.6569.FE     Population ages 65-69, female
SP.POP.6569.FE.5Y  Population ages 65-69, female (% of female population)
SP.POP.6569.MA     Population ages 65-69, male
SP.POP.6569.MA.5Y  Population ages 65-69, male (% of male population)
SP.POP.65UP.FE.IN  Population ages 65 and above, female
SP.POP.65UP.FE.ZS  Population ages 65 and above, female (% of female population)
SP.POP.65UP.MA.IN  Population ages 65 and above, male
SP.POP.65UP.MA.ZS  Population ages 65 and above, male (% of male population)
SP.POP.65UP.TO     Population ages 65 and above, total
SP.POP.65UP.TO.ZS  Population ages 65 and above (% of total population)
SP.POP.7074.FE     Population ages 70-74, female
SP.POP.7074.FE.5Y  Population ages 70-74, female (% of female population)
SP.POP.7074.MA     Population ages 70-74, male
SP.POP.7074.MA.5Y  Population ages 70-74, male (% of male population)
SP.POP.7579.FE     Population ages 75-79, female
SP.POP.7579.FE.5Y  Population ages 75-79, female (% of female population)
SP.POP.7579.MA     Population ages 75-79, male
SP.POP.7579.MA.5Y  Population ages 75-79, male (% of male population)
SP.POP.80UP.FE     Population ages 80 and above, female
SP.POP.80UP.FE.5Y  Population ages 80 and above, female (% of female population)
SP.POP.80UP.MA     Population ages 80 and above, male
SP.POP.80UP.MA.5Y  Population ages 80 and above, male (% of male population)
SP.POP.AG00.FE.IN  Age population, age 00, female, interpolated
SP.POP.AG00.MA.IN  Age population, age 00, male, interpolated
SP.POP.AG01.FE.IN  Age population, age 01, female, interpolated
SP.POP.AG01.MA.IN  Age population, age 01, male, interpolated
SP.POP.AG02.FE.IN  Age population, age 02, female, interpolated
SP.POP.AG02.MA.IN  Age population, age 02, male, interpolated
SP.POP.AG03.FE.IN  Age population, age 03, female, interpolated
SP.POP.AG03.MA.IN  Age population, age 03, male, interpolated
SP.POP.AG04.FE.IN  Age population, age 04, female, interpolated
SP.POP.AG04.MA.IN  Age population, age 04, male, interpolated
SP.POP.AG05.FE.IN  Age population, age 05, female, interpolated
SP.POP.AG05.MA.IN  Age population, age 05, male, interpolated
SP.POP.AG06.FE.IN  Age population, age 06, female, interpolated
SP.POP.AG06.MA.IN  Age population, age 06, male, interpolated
SP.POP.AG07.FE.IN  Age population, age 07, female, interpolated
SP.POP.AG07.MA.IN  Age population, age 07, male, interpolated
SP.POP.AG08.FE.IN  Age population, age 08, female, interpolated
SP.POP.AG08.MA.IN  Age population, age 08, male, interpolated
SP.POP.AG09.FE.IN  Age population, age 09, female, interpolated
SP.POP.AG09.MA.IN  Age population, age 09, male, interpolated
SP.POP.AG10.FE.IN  Age population, age 10, female, interpolated
SP.POP.AG10.MA.IN  Age population, age 10, male, interpolated
SP.POP.AG11.FE.IN  Age population, age 11, female, interpolated
SP.POP.AG11.MA.IN  Age population, age 11, male, interpolated
SP.POP.AG12.FE.IN  Age population, age 12, female, interpolated
SP.POP.AG12.MA.IN  Age population, age 12, male, interpolated
SP.POP.AG13.FE.IN  Age population, age 13, female, interpolated
SP.POP.AG13.MA.IN  Age population, age 13, male, interpolated
SP.POP.AG14.FE.IN  Age population, age 14, female, interpolated
SP.POP.AG14.MA.IN  Age population, age 14, male, interpolated
SP.POP.AG15.FE.IN  Age population, age 15, female, interpolated
SP.POP.AG15.MA.IN  Age population, age 15, male, interpolated
SP.POP.AG16.FE.IN  Age population, age 16, female, interpolated
SP.POP.AG16.MA.IN  Age population, age 16, male, interpolated
SP.POP.AG17.FE.IN  Age population, age 17, female, interpolated
SP.POP.AG17.MA.IN  Age population, age 17, male, interpolated
SP.POP.AG18.FE.IN  Age population, age 18, female, interpolated
SP.POP.AG18.MA.IN  Age population, age 18, male, interpolated
SP.POP.AG19.FE.IN  Age population, age 19, female, interpolated
SP.POP.AG19.MA.IN  Age population, age 19, male, interpolated
SP.POP.AG20.FE.IN  Age population, age 20, female, interpolated
SP.POP.AG20.MA.IN  Age population, age 20, male, interpolated
SP.POP.AG21.FE.IN  Age population, age 21, female, interpolated
SP.POP.AG21.MA.IN  Age population, age 21, male, interpolated
SP.POP.AG22.FE.IN  Age population, age 22, female, interpolated
SP.POP.AG22.MA.IN  Age population, age 22, male, interpolated
SP.POP.AG23.FE.IN  Age population, age 23, female, interpolated
SP.POP.AG23.MA.IN  Age population, age 23, male, interpolated
SP.POP.AG24.FE.IN  Age population, age 24, female, interpolated
SP.POP.AG24.MA.IN  Age population, age 24, male, interpolated
SP.POP.AG25.FE.IN  Age population, age 25, female, interpolated
SP.POP.AG25.MA.IN  Age population, age 25, male, interpolated
SP.POP.BRTH.MF     Sex ratio at birth (male births per female births)
SP.POP.DPND        Age dependency ratio (% of working-age population)
SP.POP.DPND.OL     Age dependency ratio, old (% of working-age population)
SP.POP.DPND.YG     Age dependency ratio, young (% of working-age population)
SP.POP.GROW        Population growth (annual %)
SP.POP.TOTL        Population, total
SP.POP.TOTL.FE.IN  Population, female
SP.POP.TOTL.FE.ZS  Population, female (% of total population)
SP.POP.TOTL.MA.IN  Population, male
SP.POP.TOTL.MA.ZS  Population, male (% of total population)
SP.RUR.TOTL        Rural population
SP.RUR.TOTL.ZG     Rural population growth (annual %)
SP.RUR.TOTL.ZS     Rural population (% of total population)
SP.URB.GROW        Urban population growth (annual %)
SP.URB.TOTL        Urban population
SP.URB.TOTL.IN.ZS  Urban population (% of total population)

In [30]:
df_indicators = pd.DataFrame(indicators)
pattern = r'^SP\.POP\..*(\.FE|\.MA)$'
df_filtered = df_indicators[df_indicators['id'].str.contains(pattern, na=False, regex=True)].copy()
df_filtered.head(50)

,id,name,unit,source,sourceNote,sourceOrganization,topics
35,SP.POP.0004.FE,"Population ages 00-04, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 0 to 4.,World Bank staff estimates using the World Ban...,[]
37,SP.POP.0004.MA,"Population ages 00-04, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 0 to 4.,World Bank staff estimates using the World Ban...,[]
45,SP.POP.0509.FE,"Population ages 05-09, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 5 to 9.,World Bank staff estimates using the World Ban...,[]
47,SP.POP.0509.MA,"Population ages 05-09, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 5 to 9.,World Bank staff estimates using the World Ban...,[]
49,SP.POP.1014.FE,"Population ages 10-14, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 10 to 14.,World Bank staff estimates using the World Ban...,[]
51,SP.POP.1014.MA,"Population ages 10-14, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 10 to 14.,World Bank staff estimates using the World Ban...,[]
53,SP.POP.1519.FE,"Population ages 15-19, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 15 to 19.,World Bank staff estimates using the World Ban...,[]
55,SP.POP.1519.MA,"Population ages 15-19, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 15 to 19.,World Bank staff estimates using the World Ban...,[]
63,SP.POP.2024.FE,"Population ages 20-24, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 20 to 24.,World Bank staff estimates using the World Ban...,[]
65,SP.POP.2024.MA,"Population ages 20-24, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 20 to 24.,World Bank staff estimates using the World Ban...,[]
67,SP.POP.2529.FE,"Population ages 25-29, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 25 to 29.,World Bank staff estimates using the World Ban...,[]
69,SP.POP.2529.MA,"Population ages 25-29, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 25 to 29.,World Bank staff estimates using the World Ban...,[]
71,SP.POP.3034.FE,"Population ages 30-34, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 30 to 34.,World Bank staff estimates using the World Ban...,[]
73,SP.POP.3034.MA,"Population ages 30-34, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 30 to 34.,World Bank staff estimates using the World Ban...,[]
75,SP.POP.3539.FE,"Population ages 35-39, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 35 to 39.,World Bank staff estimates using the World Ban...,[]
77,SP.POP.3539.MA,"Population ages 35-39, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 35 to 39.,World Bank staff estimates using the World Ban...,[]
79,SP.POP.4044.FE,"Population ages 40-44, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 40 to 44.,World Bank staff estimates using the World Ban...,[]
81,SP.POP.4044.MA,"Population ages 40-44, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 40 to 44.,World Bank staff estimates using the World Ban...,[]
83,SP.POP.4549.FE,"Population ages 45-49, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 45 to 49.,World Bank staff estimates using the World Ban...,[]
85,SP.POP.4549.MA,"Population ages 45-49, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 45 to 49.,World Bank staff estimates using the World Ban...,[]
87,SP.POP.5054.FE,"Population ages 50-54, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 50 to 54.,World Bank staff estimates using the World Ban...,[]
89,SP.POP.5054.MA,"Population ages 50-54, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 50 to 54.,World Bank staff estimates using the World Ban...,[]
91,SP.POP.5559.FE,"Population ages 55-59, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 55 to 59.,World Bank staff estimates using the World Ban...,[]
93,SP.POP.5559.MA,"Population ages 55-59, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 55 to 59.,World Bank staff estimates using the World Ban...,[]
95,SP.POP.6064.FE,"Population ages 60-64, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 60 to 64.,World Bank staff estimates using the World Ban...,[]
97,SP.POP.6064.MA,"Population ages 60-64, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 60 to 64.,World Bank staff estimates using the World Ban...,[]
99,SP.POP.6569.FE,"Population ages 65-69, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 65 to 69.,World Bank staff estimates using the World Ban...,[]
101,SP.POP.6569.MA,"Population ages 65-69, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 65 to 69.,World Bank staff estimates using the World Ban...,[]
109,SP.POP.7074.FE,"Population ages 70-74, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 70 to 74.,World Bank staff estimates using the World Ban...,[]
111,SP.POP.7074.MA,"Population ages 70-74, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 70 to 74.,World Bank staff estimates using the World Ban...,[]
113,SP.POP.7579.FE,"Population ages 75-79, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 75 to 79.,World Bank staff estimates using the World Ban...,[]
115,SP.POP.7579.MA,"Population ages 75-79, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 75 to 79.,World Bank staff estimates using the World Ban...,[]
117,SP.POP.80UP.FE,"Population ages 80 and above, female",,"{'id': '40', 'value': 'Population estimates an...",Female population between the ages 80 and above.,World Bank staff estimates using the World Ban...,"[{'id': '8', 'value': 'Health '}]"
119,SP.POP.80UP.MA,"Population ages 80 and above, male",,"{'id': '40', 'value': 'Population estimates an...",Male population between the ages 80 and above.,World Bank staff estimates using the World Ban...,[]

In [31]:
def get_country_population_data(country_code):
    """
    Fetches World Bank data for all indicators in the filtered_df 
    for a specific country.
    """
    SOURCE = 40 # "Population estimates and projections
    indicators = wbdata.get_indicators(source=SOURCE)
    df_indicators = pd.DataFrame(indicators) # returns all of the indicators as a DataFrame containing ids and other information
    pattern = r'^SP\.POP\..*(\.FE|\.MA)$' # the regex pattern matches ids that start with SP.POP and end in either FE or MA
    df_filtered = df_indicators[df_indicators['id'].str.contains(pattern, na=False, regex=True)].copy()
    variable_labels = dict(zip(df_filtered['id'], df_filtered['name'])) # returns dictionary
    df_results = wbdata.get_dataframe(variable_labels, country=country_code)
    
    return df_results

In [33]:
get_country_population_data('SOM').head()

WARNING:shelved_cache.persistent_cache:Key '7185128592461286972' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '8606685265015352511' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '-2630698038192545010' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '-6411895224828843529' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '7890728878445665922' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '4127699084790138878' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '7392531186788697184' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '-3844852116419200337' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '3280017619303279470' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '-6428049148177434487' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '2826126048728080739' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '4247682721282146278' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '7512514823280704584' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '1363212440955712580' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '3985555049193732028' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '4882281955503596849' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '3033528643055490951' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '3326534362986139139' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '4034600490016737441' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '5456157162570802980' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '-5781226140637094541' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '8884320746436158556' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '9138558158985484519' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '977170982345589347' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '4242003084344147653' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '-6995380218863749868' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '7175518805493586764' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '3534641886441394106' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '-5657926990362642284' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '-4236370317808576745' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '3426819167174349689' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '-7120840598135010443' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '-100140606912622867' not in persistent cache.
WARNING:shelved_cache.persistent_cache:Key '-3601771083587126174' not in persistent cache.

,"Population ages 00-04, female","Population ages 00-04, male","Population ages 05-09, female","Population ages 05-09, male","Population ages 10-14, female","Population ages 10-14, male","Population ages 15-19, female","Population ages 15-19, male","Population ages 20-24, female","Population ages 20-24, male",...,"Population ages 60-64, female","Population ages 60-64, male","Population ages 65-69, female","Population ages 65-69, male","Population ages 70-74, female","Population ages 70-74, male","Population ages 75-79, female","Population ages 75-79, male","Population ages 80 and above, female","Population ages 80 and above, male"
date,,,,,,,,,,,,,,,,,,,,,
2024,1721860.0,1778333.0,1459198.0,1500621.0,1182898.0,1214068.0,1011197.0,1036899.0,862518.0,874911.0,...,154182.0,134865.0,117138.0,99431.0,81785.0,66990.0,43426.0,33578.0,29966.0,20325.0
2023,1678300.0,1733406.0,1414411.0,1454279.0,1129289.0,1159879.0,988818.0,1013315.0,836013.0,849191.0,...,149148.0,130469.0,113263.0,96160.0,77456.0,63401.0,40934.0,31556.0,28651.0,19400.0
2022,1644212.0,1697958.0,1374854.0,1412895.0,1087367.0,1117820.0,963554.0,987239.0,809499.0,823079.0,...,145085.0,126983.0,110193.0,93612.0,73379.0,60031.0,38976.0,29969.0,27619.0,18711.0
2021,1608859.0,1661042.0,1326084.0,1362015.0,1060098.0,1090914.0,937274.0,960209.0,783643.0,797112.0,...,141721.0,124162.0,107806.0,91706.0,69580.0,56968.0,37629.0,28841.0,27205.0,18457.0
2020,1559323.0,1609605.0,1258845.0,1292896.0,1040217.0,1070600.0,905750.0,927896.0,754349.0,767283.0,...,137818.0,120956.0,105046.0,89592.0,65162.0,53423.0,36405.0,27882.0,26710.0,18259.0